@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;800&family=Outfit:wght@400;700&family=Poppins:wght@500;900&family=Questrial&family=Rubik+Vinyl&family=Texturina:opsz,wght@12..72,100;12..72,500;12..72,700;12..72,900&display=swap");
body {
  font-family: "Outfit", sans-serif;
}
.attribution {
  font-size: 0.7rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  height: 100vh;
  background-color: hsl(219, 70%, 82%);

}
main
{
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 20rem;
  margin: auto;
}

.card-lines {
  font-size: 0.9rem;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}
.card-title {
  font-weight: 700;
  font-size: 1.3rem;
}
